<div class="container">
    <h1>Bienvenido Dr.<span style="color: blue;">{{nombreUsuario}}</span></h1>
    <br>
    <h2>Lista de Citas Medicas de <span style="color: blue;">{{nombrePaciente}}</span></h2>
    <button routerLink="/verFichas" type="button" class="btn btn-dark">Volver Lista de consultas medicas</button> 
    <table class="table">
        <thead>
          <tr style="color: blue;">
            <th scope="col">Fecha Cita Medica</th>
            <th scope="col">Sintomas del paciente</th>
            <th scope="col">Instrucciones del doctor</th>
            <th scope="col">Receta medicada</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reg of datosBuscados">
            <td>{{reg.fechaConsulta}}</td>
            <td>{{reg.datosConsulta}}</td>
            <td>{{reg.instruccionesDoctor}}</td>
            <td>{{reg.recetaMedica}}</td>
          </tr>
        </tbody>
      </table>
</div>