<div class="container mt-5 mb-5">
    <h1>Contactanos</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Escriba su nombre">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Escriba su apellido">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Escriba su correo electronico">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Escriba su numero celular">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark">Enviar</button>
            </div>
        </div>
    </form>
    <br>
    <div>
        <h2>Contacto</h2>
        Villa Fátima Av. 15 de Abril #40, Departamento de La Paz, Murillo - Nuestra Señora de La Paz, Bolivia
        <br>
        Teléfono: 221 6021
        <br>
        Fax: 221 7376
    </div>
    <br>
    <div>
        <h2>Dirección</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7650.756792029911!2d-68.11962196568535!3d-16.506983661529148!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f205e1f415961%3A0x779d547e4cfb1911!2sHospital%20de%20Cl%C3%ADnicas!5e0!3m2!1ses-419!2sbo!4v1635989911631!5m2!1ses-419!2sbo" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>