<div class="container mt-5 mb-5">
    <h1>Contactanos</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Escriba su nombre">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Escriba su apellido">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Escriba su correo electronico">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Escriba su numero celular">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark">Enviar</button>
            </div>
        </div>
    </form>
    <br>
    <div>
        <h2>Contacto</h2>
        Villa Fátima Av. 15 de Abril #40, Departamento de La Paz, Murillo - Nuestra Señora de La Paz, Bolivia
        <br>
        Teléfono: 221 6021
        <br>
        Fax: 221 7376
    </div>
</div>