<div class="container mt-5 mb-5">
    <h1>Bienvenido <span style="color: blue;">{{nombreUsuario}}</span></h1>
    <br>
    <h2>Seleccionar Especialidad</h2>
    <div class="row">
        <div class="col-lg-4" *ngFor="let area of areasData">
            <div class="docbox mt-3 mb-3">
                <img src="{{area.areaImg}}">
                <h1>{{area.areaName}}</h1>
                <br>
                <a class="citabtn" (click)="irConfirmarFicha(area.areaName)">Sacar Cita Medica &nbsp; <i class="bi bi-caret-right"></i></a>
            </div>
        </div>
    </div>
</div>