<div class="container mt-5 mb-5">
    <h1 class="text-center">¿QUIÉNES SOMOS?</h1>
    <div class="row mt-3">
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>MISION</h1>
                <p>
                    Somos EL HOSPITAL al servicio de toda la población con 
                    especial atención a los niños de y en la calle, brindando 
                    servicios de excelencia, calidez y calidad dentro de un 
                    ambiente de trabajo con responsabilidad y compromiso 
                    buscando la auto sostenibilidad.
                </p>
            </div>            
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>VISION</h1>
                <p>
                    Ser EL HOSPITAL líder en el Sistema de Salud, con atención 
                    cálida y excelente, al servicio de toda la población, 
                    autosostenible, con un personal satisfecho.
                </p>
            </div>            
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>VALORES</h1>
                <p>
                    HONESTIDAD
                    JUSTICIA
                    RESPONSABILIDAD
                    TRANSPARENCIA
                    RESPETO A LAS PERSONAS
                    SOLIDARIDAD
                </p>
            </div>            
        </div>
    </div>
</div>