<div class="banner">
    <div class="content">
        <h1 class="mb-5">Servicio Departamental de<br>Salud de La Paz</h1>
        <a routerLink="registro">Registrarse Ahora <i class="bi bi-arrow-right"></i></a>
    </div>    
</div>
<div class="container mt-5 mb-4">
    <h1 class="text-center">¿Como recibir <span class="highlight">atención especializada</span>?</h1>
    <div class="row mt-3">
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>seleccione el area medica</p>
            </div>            
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>seleccione un doctor</p>
            </div>            
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>confirme la cita</p>
            </div>            
        </div>
    </div>
</div>


<div class="container mt-4 mb-4">
    <h1 class="text-center">Doctores <span class="highlight">reconocidos mundialmente</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let doc of doctoresData | slice:0:4; index as i">           
            <div class="docbox" *ngIf="i<=3">
                <img src="{{doc.doctorImg}}"/>
                <h1>{{doc.doctorName}}</h1>
                <p>{{doc.doctorDetails}}</p>
            </div>
        </div>
    </div>
    <a routerLink="menu" class="viewmorebtn">Ver Mas <i class="bi bi-arrow-right"></i></a>
</div>