<div class="container">
    
    <div class="">
        <main class="form-signin">
          <button routerLink="/verFichas" type="button" class="btn btn-dark">Volver Lista de consultas medicas</button>
          <br>
          <br>
            <form>              
              <div class="form-floating">
                <h3 style="color: blue;">Nombre Doctor</h3>
                <h3>{{registroPaciente.doctorName}}</h3>
              </div>
              <br>
              <div class="form-floating">
                <h3 style="color: blue;">Nombre Usuario</h3>
                <h3>{{registroPaciente.nombreusuario}}</h3>
              </div>
              <br>
              <div class="form-floating">
                <h3 style="color: blue;">Fecha Consulta</h3>
                <h3>{{registroPaciente.fechaConsulta}}</h3>
              </div>
              <br>
              <div class="form-group">
                <label for="floatingTextarea">Sintomas del paciente</label>
                <textarea class="form-control rounded-0" placeholder="Escriba aqui" id="floatingTextarea" [(ngModel)]="registroPacienteNuevo.datosConsulta" name="datPac" rows="6"></textarea>
              </div>
              <br>
              <div class="form-group">
                <label for="floatingTextarea">Instrucciones para el paciente</label>
                <textarea class="form-control rounded-0" placeholder="Escriba aqui" id="floatingTextarea" [(ngModel)]="registroPacienteNuevo.instruccionesDoctor" name="insPac" rows="6"></textarea>                
              </div>
              <br>
              <div class="form-group">
                <label for="floatingTextarea">Receta medica</label>
                <textarea class="form-control rounded-0" placeholder="Escriba aqui" id="floatingTextarea" [(ngModel)]="registroPacienteNuevo.recetaMedica" name="recMed" rows="6"></textarea>                
              </div>
              <br>
              <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="registrarDatosConsulta(registroPaciente);">Registrar Consulta</button>
            </form>
          </main>
    </div>
</div>